body {
	font-family: $fonte-principal;
	font-size: 16px;
	color: $cor-texto;

	@media screen and (max-width: $resolucao-md) {

		font-size: 14px;
	}
}

.container {
	//palavras grandes vão se reajustar
	overflow-wrap: break-word;//These are technically the same, but use both
	word-wrap: break-word;

	a {
		outline: none;
		text-decoration: none;
	}

	ul {
		li {
			list-style: square;
		}
	}

	textarea {//não poderá redimensionar horizontalmente
		resize: vertical;
	}
	.form-group {//para ter um espaçamento maior de campo pro outro (não se aplica para o modal fora container)
		margin-bottom: 1.56em;
	}
}

//estilo para todos os botões
.btn-primary {
	background-color: $cor-clara;
	border: none;
	font-weight: bold;
	color: $cor-texto-clara;

	&:hover {
		background-color: $cor-escura;
	}
}

.botoes {//show
	margin-top: 1.6em;

	.btn {
		margin-right: 1.8em;

		&:last-child {
		    margin-right: 0;

		    @include nao-exibir-elemento;
		}
	}
}

#apagarModal {
	font-weight: normal;

	p {
		margin-bottom: 1.5625em;
		text-align: center;
	}

	form {
		text-align: center;

		.btn:nth-child(even) {
			margin-left: 1.5625em;
		}
	}
}

// botão para ocultar menu
.menu-toggle {
	position: absolute;
	top: -15px;
	left: 30px;
	width: 30px;
	height: 30px;
	background-color: $cor-clara;
	opacity: 0.5;
	cursor: pointer;
	transition: all 0.2s linear;
	z-index: 99;

	&:hover {
		opacity: 1;
		transition: all 0.2s linear;
	}

	.glyphicon {
		color: #fff;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.sidebar-nav {
	margin-bottom: 2.5em;
	padding: 0 0.3125em 0 0;

	li {
		padding: 0.625em;
		border-bottom: 2px solid $cor-clara;
		font-weight: bold;
		transition: all 0.2s linear;

		&:hover {
			background-color: $cor-clara;
			transition: all 0.2s linear;

			a {
				color: #fff;
			}
		}

		a {
			display: block;
			color: $cor-texto;
		}
	}
}

.content {
	@include make-row();
	padding: 0;
	margin: 0;
}

.fixed {//menu fixo
	position: fixed;
	top: 0;
	z-index: 998;
}
