.container {
	font-family: $fonte-principal;
	font-size: 16px;
	color: $cor-texto;

	a {
		outline: none;
		text-decoration: none;
		
		img {
			border: none;
		}
	}

	ul {
		li {
			list-style: square;
		}
	}

	.btn-default {
		background-color: $cor-clara;
		border: none;
		font-weight: bold;
		color: #fff;

		&:hover {
			background-color: $cor-escura;
		}
	}
}

.content {
	@include make-row();
	padding: 0;
	margin: 0;		
}

.fixed {
	position: fixed;
	top: 0;	
	z-index: 998;	
}

