.ads, 
.comex,
.ge,
.pq {
	margin-bottom: 50px;

	.curso-info {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		
		margin-top: 25px;
		padding: 0;
		text-align: justify;
		
		.table {
			margin-bottom: 0;
							
			.titulo {
				font-size: 18px;
			}

			th {
				text-align: center;
			}

			td {
				text-align: left;
				span {
					font-size: 12px;
				}
			}															
		}
	}//curso-info
}