body {
	> .ads, 
	> .comex,
	> .ge,
	> .pq {
		> .content {
			> .conteudo {

				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(12);
				
				margin-top: 25px;
				margin-bottom: 50px;
				padding: 0;				
				font-size: 16px;
				font-family: $fonte_principal;
				text-align: justify;
				color: $texto;
				
				ul {
					li {
						list-style: square;
					}
				}

				.table {
					margin-top: 50px;
					
					tr {
						.titulo {
							font-size: 18px;
						}

						th {
							text-align: center;
						}

						td {
							text-align: left;
							span {
								font-size: 12px;
							}
						}
					}															
				}
			}//conteudo
		}//content
	}//cursos
}