.slider-home {
	.slider-navegacao {
		margin: 0.9375em 0;

		.item {
			img{
				display: block;
				width: 100%;
				height: auto;
				cursor: pointer;
			}
		}
		.owl-controls {
			margin-top: 5px;
		}
	}
}//slider

.cursos-home {
	margin-top: 3.125em;

	h2 {
		@include make-md-column(12);

		text-align: center;
		font-size: 1.875em;
		color: $cor-titulo;
		margin: 0 0 25px;
	}

	.cursos-itens {
		margin-bottom: 3.125em;

		.cursos-item {
			@include make-md-column(3);

			img {
				margin: 10px auto;
			}
			h3 {
				text-align: center;
				margin-bottom: 0;

				a {
					font-size: 0.85em;
					font-weight: normal;
					color: $cor-texto;

					&:hover {
						font-weight: bold;
					}
				}
			}
		}//cursos-item
	}//cursos-itens
}//cursos

.noticias-home {
	margin-bottom: 3.125em;

	h2 {
		@include make-md-column(12);

		margin: 0;
		text-align: center;
		font-size: 1.875em;

		a {
			color: $cor-titulo;
		}
	}

	.nenhuma-noticia {
		@include make-md-column(12);

		p {
			text-align: center;
			font-size: 1.375em;
			color: $cor-texto;
		}
	}

	.noticias-item{
		.data {
			@include make-md-column(2);

			text-align: right;
			margin-top: 1.75em;
			padding-left: 0;
			font-weight: bold;
		}

		.noticia {
			@include make-md-column(10);

			padding-right: 0;

			h3 {
				margin: 1.12em 0 0 0;
				font-size: 1.375em;

				a {
					color: $cor-texto;
				}
			}

			p {
				text-align: justify;
				margin: 0.3125em 0;
			}

			span {
				font-size: 0.875em;
				color: $cor-titulo;

				a:hover {
					font-weight: bold;
				}
			}
		}//noticia
	}//noticias-item
}//noticias

@media screen and (max-width: $resolucao-md) {

	.cursos-home {
		margin-top: 0.625em;

		h2 {
			font-size: 1.571em;
			margin-bottom: 0.625em;
		}

		.cursos-itens {
			margin-bottom: 1.25em;

			.cursos-item {
				@include make-sm-column(6);

				margin-bottom: 1.428em;

				img {
					margin-top: 0;
				}
			}
		}
	}

	.noticias-home {
		.data {
			@include make-sm-column(2);
		}
		.noticia {
			@include make-sm-column(10);
		}
	}
}

@media screen and (min-width: $resolucao-xs) and (max-width: $resolucao-sm) {

	.cursos-home {
		.cursos-item {
			@include make-xs-column(12);
		}
	}

	.noticias {
		.data {
			@include make-xs-column(12);
		}
		.noticia {
			@include make-xs-column(12);
		}
	}
}