.slider-home {
	.slider-navegacao {
		margin: 15px 0;

		.item {
			img{
				display: block;
				width: 100%;
				height: auto;
				cursor: pointer;
			}
		}
		.owl-controls {
			margin-top: 5px;
		}
	}
}//slider

.cursos-home {
	margin-top: 50px;

	h2 {
		@include make-md-column(12);

		text-align: center;
		font-size: 30px;
		color: $cor-titulo;
		margin: 0 0 25px;
	}

	.cursos-itens {
		margin-bottom: 50px;

		.cursos-item {
			@include make-md-column(3);

			img {
				margin: 10px auto;
			}
			h3 {
				text-align: center;
				margin-bottom: 0;

				a {
					font-size: 16px;
					font-weight: normal;
					color: $cor-texto;

					&:hover {
						font-weight: bold;
					}
				}
			}
		}//cursos-item
	}//cursos-itens
}//cursos

.noticias-home {
	margin-bottom: 50px;

	h2 {
		@include make-md-column(12);

		margin: 0;
		text-align: center;
		font-size: 30px;

		a {
			color: $cor-titulo;
		}
	}

	.nenhuma-noticia {
		@include make-md-column(12);

		p {
			text-align: center;
			font-size: 22px;
			color: $cor-texto;
		}
	}

	.noticias-item{
		.data {
			@include make-md-column(2);

			text-align: right;
			margin-top: 28px;
			padding-left: 0;
			font-weight: bold;
		}

		.noticia {
			@include make-md-column(10);

			padding-right: 0;

			h3 {
				margin: 25px 0 0 0;
				font-size: 22px;

				a {
					color: $cor-texto;
				}
			}

			p {
				text-align: justify;
				margin: 5px 0;
			}

			span {
				font-size: 14px;
				color: $cor-titulo;

				a:hover {
					font-weight: bold;
				}
			}
		}//noticia
	}//noticias-item
}//noticias