.login,
.register {
	.formulario {
		margin: 1.5625em 0 3.125em;
	}

	h2 {
		@include make-md-column(11);
		@include make-md-column-offset(1);

		padding-left: 0;
		color: $cor-titulo;
	}

	.control-label {
		@include make-md-column(2);
	}

	.inputs {
		@include make-md-column(5);
		@include make-md-column-offset(5);
		@include make-md-column-pull(5);
	}

	.check,
	.botao {
		@include make-md-column(10);
		@include make-md-column-offset(2);
	}

	.btn {
		margin-right: 1.5625em;

		&:nth-child(3) {
		    margin-right: 0;
		}
	}
}

@media screen and (max-width: $resolucao-md) {
	.login,
	.register {
		.control-label {
			@include make-sm-column(2);
		}
		.inputs {
			@include make-sm-column(10);
		}
		h2,
		.check,
		.botao {
			@include make-sm-column(10);
			@include make-sm-column-offset(2);
		}
	}
}

@media screen and (min-width: $resolucao-xs) and (max-width: $resolucao-sm) {
	.login,
	.register {
		.control-label {
			@include make-xs-column(3);
			text-align: right;
			word-wrap: normal;
		}
		.inputs {
			@include make-xs-column(9);
		}
		h2,
		.check {
			@include make-xs-column(9);
			@include make-xs-column-offset(3);
		}
		.botao {
			@include make-xs-column(12);

			text-align: center;
		}
	}
}