header {
	padding: 15px 0;

	> .content {
		margin-left: 0;
		margin-right: 0;
		margin-top: 5px;

		height: 80px;

		.logoFatec {
			@include make-md-column(4);

			padding: 0;
		}

		.logoCPS {
			@include make-md-column(4);

			img {
				padding-left: 20px;
			}
		}

		.logoGoverno {
			@include make-md-column(4);

			padding-right: 0;

			> img {
				padding: 5px 0 0 25px;
			}
		}
	}
}//header

.navegacao {
	background-color: $cor-clara;
	width: 100%;

	.content {
		margin-left: 0;
		margin-right: 0;

		.navegacao-content {
			@include make-md-column(12);

			padding: 0;

			.navbar {
				border-radius: 0;
				border: none;
				background-color: $cor-clara;
				margin-bottom: 0;

				.navbar-toggle {
					border-color:$cor-texto-clara;

					&:hover, &:focus {
						background-color: $cor-escura;
					}

					.icon-bar {
						background-color:$cor-texto-clara;
					}
				}

				.navbar-collapse {
					border: none;
					padding-top: 2px;
					padding-left: 0;

					li {
						background-color: $cor-clara;
					    box-shadow: 0 0 0 2px $cor-clara;
					    list-style: none;

						&.active{
							a {
								background-color: $cor-escura;
								box-shadow: 0 0 0 2px $cor-escura;
						    	border-bottom: 3px solid $cor-texto-clara;
						    	height: 46px;
						    	z-index: 999;
							}
						}

						a {
							color: $cor-texto-clara;
							font: 400 16px $fonte-principal;
							height: 46px;
							background-color: $cor-clara;
							transition: all 0.3s linear;

							&:hover {
								background-color: $cor-escura;
							    box-shadow: 0 0 0 2px $cor-escura;
							    border-bottom: 3px solid $cor-texto-clara;
							    z-index: 999;
							    transition: all 0.2s linear;
							}

							.glyphicon {
								font-size: 14px;
							}
						}

						> ul.dropdown-menu {
							box-shadow: none;
							border-radius: 0;
							border: none;
							background-color: $cor-clara;
							padding: 0 2px;

							li {
								background-color: $cor-clara;
								margin-top: 3px;

								a {
									border: none;
									padding-top: 15px;
									font-size: 14px;
								}
							}
						}
					}//li

				}//navbar-collapse
			}//navbar
		}//navegacao-content
	}//content
}//navgeção

.modal {
	.modal-header {
		text-align: center;
		font-size: 18px;
	}

	.control-label {
		@include make-md-column(3);

	}
	.inputs {
		@include make-md-column(9);

		font-weight: normal;
	}
	.check,
	.botao {
		@include make-md-column(12);
	}
}

footer {
	background-color: $cor-escura;

	.content {
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 14px;
		font-weight: 300;
		color: $cor-texto-clara;

		a {
			color: $cor-texto-clara;

			&:hover {
				font-weight: bold;
			}
		}

		.redes-sociais {
			@include make-md-column(2);

			padding: 0;

			img {
				float: left;
				display: inline;
			}
		}

		.endereco {
			@include make-md-column(4);
			@include make-md-column-offset(6);

			p {
				text-align: center;
			}
		}

		.mapa-cursos {
			@include make-md-column(3);
		}

		.mapa_dar_nome,
		.departamentos {
			@include make-md-column(2);
		}

		.maps {
			@include make-md-column(4);
			@include make-md-column-offset(1);
		}

		h4 {
			margin: 0;

			a {
				font-size: 18px;
			}
		}

		ul {
			padding-left: 0;

			li {
				list-style: none;
			}
		}

		.desenvolvido {
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(12);

			margin: 10px;
			text-align: center;
		}
	}
}//footer

@media screen and (max-width: $resolucao-md) {

	header {
		.logoFatec {
			@include make-sm-column(12);

			img {
				margin: 0 auto;
			}
		}

		.logoCPS {
			display: none;
		}

		.logoGoverno {
			display: none;
		}
	}

	.modal {
		.control-label {
			@include make-sm-column(3);
		}
		.inputs {
			@include make-sm-column(9);
		}
		.check,
		.botao {
			@include make-sm-column(12);
		}
	}	

	footer {
		.container {
			.redes-sociais {
				@include make-sm-column(3);
			}
			.endereco {
				@include make-sm-column(9);
			}
			.mapa-cursos {
				@include make-sm-column(3);
			}
			.mapa_dar_nome,
			.departamentos {
				@include make-sm-column(2);
			}
			.maps {
				@include make-sm-column(5);
			}

			h4 {
				a {
					font-size: 14px;
				}
			}
		}
	}//footer
}

@media screen and (min-width: $resolucao-xs) and (max-width: $resolucao-sm) {
	
	.navegacao {
		.container {
			.navegacao-content {
				.navbar-collapse {
					ul.navbar-nav {
						padding-left: 15px;

						li {
							&.active {
								a {
									border: none;
								}
							}

							a {
								font-size: 14px;

								&:hover {
									border: none;
								}
							}

							ul.dropdown-menu {
								li {
									a {
										font-size: 12px;
										padding-left: 20px;
									}
								}
							}
						}
					}//ul.navbar-nav
				}//navbar-collapse
			}//navegacao-content
		}//container
	}//navegacao
	
	footer {
		.container {
			.redes-sociais {
				@include make-xs-column(4);
			}
			.endereco {
				@include make-xs-column(8);
			}
			.mapa-cursos {
				@include make-xs-column(12);
			}
			.mapa_dar_nome,
			.departamentos {
				@include make-xs-column(12);
			}
			.maps {
				@include make-xs-column(12);
			}
		}
	}//footer	
}