//css para create, edit, index, show
.noticias {
	.container {
		margin-top: 1.8em;
		margin-bottom: 50px;

		.noticias-info {
			@include make-md-column(12);

			padding: 0;

			.data {
				margin-top: 0;
				font-size: 14px;
			}

			.botoes {//show
				margin-right: 1.8em;

				&:last-child {
				    margin-right: 0;

				    @include nao-exibir-elemento;
				}
			}

			.table {//index
				margin-top: 1.8em;

				tr {
					cursor: pointer;
					color: $cor-texto;
				}
			}

			p {
				margin-bottom: 1.8em;
				text-align: justify;
			}

			.titulo-btn {//index
				h2 {
					@include make-md-column(6);

					padding-left: 0;
				}
				.btn-add {
					@include make-md-column(6);

					margin-top: 20px;
					padding-right: 0;
					text-align: right;
				}
			}
		}

		//create e edit
		> .h2 {
			@include make-md-column(12);
		}

		.formulario {
			@include make-md-column(8);

			ul {
				padding-left: 30px;
				margin-top: 0;
			}
		}

		.formulario2 {
			@include make-md-column(4);

			.botoes {
				text-align: center;

				.btn {
					margin-left: 1.2em;
					margin-right: 1.2em;
				}
			}
		}
	}//container
}//noticias

@media screen and (max-width: $resolucao-md) {

	.noticias {
		.container {
			margin-top: 10px;

			.noticias-info {
				@include make-sm-column(12);

				.titulo-btn {//index
					h2 {
						@include make-sm-column(6);
					}
					.btn-add {
						@include make-sm-column(6);
					}
				}
			}

			//create e edit
			> .h2 {
				@include make-sm-column(12);
			}

			.formulario {
				@include make-sm-column(12);
			}

			.formulario2 {
				@include make-sm-column(12);
			}
		}
	}
}

@media screen and (min-width: $resolucao-xs) and (max-width: $resolucao-sm) {

	.noticias {
		.container {
			.noticias-info {
				@include make-xs-column(12);

				.titulo-btn {//index
					h2 {
						@include make-xs-column(6);
					}
					.btn-add {
						@include make-xs-column(6);
					}
				}

				.botoes {//show
					margin-right: 0.8em;

					&:last-child {
					    margin-right: 0;
					}
				}
			}

			//create e edit
			> .h2 {
				@include make-xs-column(12);
			}

			.formulario {
				@include make-xs-column(12);
			}

			.formulario2 {
				@include make-xs-column(12);
			}
		}//container
	}//noticias
}
