//css para create, edit, index, show
.noticias {
	margin-top: 1.562em;
	margin-bottom: 3.125em;

	.noticias-info {
		@include make-md-column(12);

		padding: 0;

		.data {
			margin-top: 0;
			font-size: 14px;
		}

		.table-responsive {
			margin-top: 1.25em;
		}

		.table {//index
			tr {
				cursor: pointer;
			}
		}

		p {
			margin-bottom: 1.8em;
			text-align: justify;
			overflow-wrap: break-word;
			word-wrap: break-word;
		}

		.titulo-btn {//index
			h2 {
				@include make-md-column(6);

				padding-left: 0;
			}
			.btn-add {
				@include make-md-column(6);

				margin-top: 1.25em;
				padding-right: 0;
				text-align: right;
			}
			.glyphicon {
				font-size: 0.85em;
			}
		}
	}

	//create e edit
	> .h2 {
		@include make-md-column(12);
	}

	.form-group {
		margin-bottom: 1.56em;
	}

	.formulario {
		@include make-md-column(8);

		ul {
			padding-left: 30px;
			margin-top: 0;
		}
	}

	.formulario2 {
		@include make-md-column(4);

		.form-group:last-child {
			margin-top: 1.6em;
			text-align: center;

			.btn {
				margin-left: 1.2em;
				margin-right: 1.2em;
			}
		}
	}
}//noticias

@media screen and (max-width: $resolucao-md) {

	.noticias {
		margin-top: 10px;

		.noticias-info {
			@include make-sm-column(12);

			.titulo-btn {//index
				h2 {
					@include make-sm-column(6);
				}
				.btn-add {
					@include make-sm-column(6);
				}
			}
		}

		//create e edit
		> .h2 {
			@include make-sm-column(12);
		}

		.formulario {
			@include make-sm-column(12);
		}

		.formulario2 {
			@include make-sm-column(12);
		}
	}
}

@media screen and (min-width: $resolucao-xs) and (max-width: $resolucao-sm) {

	.noticias {
		.noticias-info {
			@include make-xs-column(12);

			.titulo-btn {//index
				h2 {
					@include make-xs-column(6);
					padding-left: 0;
				}
				.btn-add {
					@include make-xs-column(6);
				}
			}
		}
		//create e edit
		.h2 {
			@include make-xs-column(12);
		}

		.formulario {
			@include make-xs-column(12);
		}

		.formulario2 {
			@include make-xs-column(12);
		}
	}
}
