.faq {
	margin-top: 1.56em;
	margin-bottom: 3.125em;

	.faq-info {
		@include make-md-column(12);

	}
	.titulo-btn {//index
		h2 {
			@include make-md-column(6);

			padding-left: 0;
		}
		.btn-add {
			@include make-md-column(6);

			margin-top: 1.25em;
			padding-right: 0;
			text-align: right;
		}
		.glyphicon {
			font-size: 0.85em;
		}
	}

	.table-responsive {
		margin-top: 1.25em;
	}

	.table {//index
		tr {
			cursor: pointer;
		}
	}

	.formulario {//create, edit
		@include make-md-column(12);

		ul {
			padding-left: 1.875em;
			margin-top: 0;
		}
	}

	.formulario2 {
		@include make-md-column(8);
	}

	.formulario3 {
		@include make-md-column(4);

		.form-group:last-child {
			margin-top: 1.6em;
			text-align: center;

			.btn {
				margin-left: 1.2em;
				margin-right: 1.2em;
			}
		}
	}
}

@media screen and (max-width: $resolucao-md) {

	.faq {
		.faq-info {
			@include make-sm-column(12);
		}

		.titulo-btn {//index
			h2 {
				@include make-sm-column(8);
			}
			.btn-add {
				@include make-sm-column(4);
			}
		}

		.formulario {//create, edit
			@include make-sm-column(12);
		}

		.formulario2 {
			@include make-sm-column(8);
		}

		.formulario3 {
			@include make-sm-column(4);

			.form-group:last-child {
				margin-top: 1.6em;
				text-align: center;

				.btn {
					margin-left: 0.8em;
					margin-right: 0.8em;
				}
			}
		}
	}
}

@media screen and (min-width: $resolucao-xs) and (max-width: $resolucao-sm) {

	.faq {
		.titulo-btn {//index
			h2 {
				@include make-xs-column(7);
				font-size: 1.142em;
			}
			.btn-add {
				@include make-xs-column(5);

				.btn {
					font-size: 0.857em;
				}
			}
		}
	}

}
