.faq {
	margin-top: 1.56em;
	margin-bottom: 3.125em;

	.faq-info {
		@include make-md-column(12);
	}

	.titulo-btn {//index
		h2 {
			@include make-md-column(6);

			padding-left: 0;
		}
		.btn-add {
			@include make-md-column(6);

			margin-top: 1.25em;
			padding-right: 0;
			text-align: right;
		}
		.glyphicon {
			font-size: 0.85em;
		}
	}

	.table {//index
		margin-top: 1.25em;

		tr {
			cursor: pointer;			
		}
	}

	.formulario {//create, edit
		@include make-md-column(12);

		ul {
			padding-left: 1.875em;
			margin-top: 0;
		}
	}

	.formulario2 {
		@include make-md-column(8);
	}

	.formulario3 {
		@include make-md-column(4);

		.form-group:last-child {
			margin-top: 1.6em;
			text-align: center;

			.btn {
				margin-left: 1.2em;
				margin-right: 1.2em;
			}
		}
	}	
}