$fonte-principal: 'Varela Round';
$cor-clara: #198fcc;
$cor-escura: #077fbd;
$cor-titulo: #0c4e82;
$cor-texto: #3a5461;
$cor-texto-clara: #fff;

$resolucao-xs: 300px;
$resolucao-sm: 768px;
$resolucao-md: 992px;