body {
	font-family: $fonte-principal;
	font-size: 16px;
	color: $cor-texto;

	@media screen and (max-width: $resolucao-md) {

		font-size: 14px;
	}
}

.container {
	a {
		outline: none;
		text-decoration: none;

		img {
			border: none;
		}
	}

	ul {
		li {
			list-style: square;
		}
	}
}

//estilo para todos os botões
.btn-primary {
	background-color: $cor-clara;
	border: none;
	font-weight: bold;
	color: $cor-texto-clara;

	&:hover {
		background-color: $cor-escura;
	}
}

.botoes {//show
	margin-top: 1.6em;

	.btn {
		margin-right: 1.8em;

		&:last-child {
		    margin-right: 0;

		    @include nao-exibir-elemento;
		}
	}
}

.form-group {//para ter um espaçamento maior de campo pro outro
	margin-bottom: 1.56em;
}

#apagarModal {
	font-weight: normal;

	p {
		margin-bottom: 25px;
	}

	form {
		text-align: center;

		.btn:nth-child(even) {
			margin-left: 25px;
		}
	}
}

.content {
	@include make-row();
	padding: 0;
	margin: 0;
}

.fixed {//menu fixo
	position: fixed;
	top: 0;
	z-index: 998;
}
